* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Montserrat', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #440753;
}
.box {
    color: #fff;
    padding: 20px;
    margin-top: 10px;
}
#timer {
    float: right;
}
.app {
    background-color: #fff;
    color: #440753;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}
.app h1 {
    font-size: 25px;
    color: #440753;
    font-weight: 600;
    padding: 30px;
    margin: 30px;
}
.quiz {
    padding: 20px 0;
    display: none;
}
.quiz h2 {
    font-size: 18px;
    color: #440753;
    font-weight: 600;
}
#quizRules {
    margin: 30px;
}
.quizEnd {
    display:none ;
    text-align: left;
}
.scores {
    display: none;
    text-align: center;
}
#startBtn {
    background-color: #440753;
    color: #fff;
    font-weight: 500;
    width: 20%;
    border: 1px solid #440753;
    padding: 10px;
    margin: 30px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
.btn {
    background-color: #fff;
    color: #440753;
    font-weight: 500;
    width: 100%;
    border: 1px solid #440753;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not(:disabled) {
    background-color: #b84bd3;
    color: #fff;
}
.btn:disabled {
    cursor: no-drop;
}
.correct {
    background-color: #98FB98;
}
.incorrect {
    background-color: #D9544D;
}
#submitBtn {
    background-color: #440753;
    color: #fff;
    margin: 5px;
    padding: 5px;
    border: 1px solid #440753;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}